
  
    <!-- Form for City Input -->
    <form (ngSubmit)="onSubmitPreferences()">
      <div class="mb-3">
        <label for="activity" class="form-label"><b>Activity</b></label>
        <select class="form-select" id="activity" [(ngModel)]="preferences.activity" name="activity" required>
          <option value="City Stroll">City Stroll</option>
          <option value="Outdoor Activity">Outdoor Activity</option>
          <option value="Outdoor Sport">Outdoor Sport</option>
        </select>
      </div>
    
    <div class="mb-3">
      <label for="thermal_preference" class="form-label"><b>Thermal Preference</b></label>
      <select class="form-select" id="thermal_preference" [(ngModel)]="preferences.thermal_preference" name="thermal_preference" required>
        <option value="Usually Freezing">Usually Freezing</option>
        <option value="Usually Warm">Usually Warm</option>
        <option value="No Preference">No Preference</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Save Preferences</button>
    </form>
    
 <div>
  <form (ngSubmit)="onSubmitCity()">
    <input type="text" [(ngModel)]="city" name="city" placeholder="Your City">
    <button type="submit">Submit City and Fetch Weather</button>
  </form>
 </div>



  <!-- Form for Updating User Information -->
  <form (ngSubmit)="onUpdateUser()">
    <h2>Update User Information</h2>
    <div class="mb-3">
      <input type="text" [(ngModel)]="updateUser.name" name="name" placeholder="Your Name" class="form-control">
      <input type="email" [(ngModel)]="updateUser.email" name="email" placeholder="Your Email" class="form-control">
      <input type="password" [(ngModel)]="updateUser.password" name="password" placeholder="Your Password" class="form-control">
    </div>
    <button type="submit" class="btn btn-info">Update User</button>
  </form>

  <!-- Button to Generate Outfit -->
  <div>
    <button (click)="generateOutfit()" class="btn btn-secondary">Generate Outfit</button>
  </div>

  <!-- Button to Delete User Account -->
  <div>
    <h1>Delete Account</h1>
    <button (click)="onDeleteUser()" class="btn btn-danger">Delete Account</button>
  </div>
