<!-- Container for preferences -->
<div class="preferences-section">
  <!-- Form for Activity Input -->
  <form (ngSubmit)="onSubmitPreferences()">
    <div class="mb-3">
      <label for="activity" class="form-label"><b>Activity</b></label>
      <select class="form-select" id="activity" [(ngModel)]="preferences.activity" name="activity" required>
        <option value="City Stroll">City Stroll</option>
        <option value="Outdoor Activity">Outdoor Activity</option>
        <option value="Outdoor Sport">Outdoor Sport</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Save Preferences</button>
  </form>
  
  <!-- Form for City Input -->
  <form (ngSubmit)="onSubmitCity()" class="city-form">
    <div class="mb-3">
      <label for="city" class="form-label"><b>City</b></label>
      <input type="text" class="form-control" id="city" [(ngModel)]="city" name="city">
    </div>
    <button type="submit" class="btn btn-primary">Generate Outfit</button>
  </form>
</div>

<!-- Separator -->
<div class="section-separator"></div>

<!-- Form for Updating User Information -->
<div class="user-update-section">
  <form (ngSubmit)="onUpdateUser()">
    <h2>Update User Information</h2>
    <div class="mb-3">
      <input type="text" class="form-control" [(ngModel)]="updateUser.name" name="name" placeholder="Your Name">
      <input type="email" class="form-control" [(ngModel)]="updateUser.email" name="email" placeholder="Your Email">
      <input type="password" class="form-control" [(ngModel)]="updateUser.password" name="password" placeholder="Your Password">
    </div>
    <button type="submit" class="btn btn-info">Update User</button>
  </form>

  <!-- Button to Delete User Account -->
  <div>
    <h2>Delete Account</h2>
    <button (click)="onDeleteUser()" class="btn btn-danger">Delete Account</button>
  </div>
</div>
